html,
body {
  height: 100%;
  /* width: 100%; */
  margin: 0;
}

.app {
  margin: 0;
  padding: 0;
  background-color: hsl(220, 15%, 97%);
  display: flex;
}

.left-sidebar__toolbar {
  color: indigo;
  background-color: rgb(99, 123, 161);
  padding: 15px;
  font-weight: 900;
  height: 50px;
  font-size: 1.5rem;
}

.left-sidebar.left-sidebar--visible {
  height: 100%;
}

main-section main-section--with-left-side-bar {
  width: 100%;
}

.main-section__toolbar {
  color: hsl(220, 15%, 97%);
  background-color: rgb(78, 143, 151);
  padding: 15px;
  height: 50px;
  font-size: 2rem;
  /* width: 100%; */
  display: flex;
}

.main-section {
  width: 100%;
  height: 100%;
}

.main-section__content {
  padding: 15px;
  color: black;
  margin-top: 150px;
}

.blog {
  margin-bottom: 25px;
}

.trafficlight-container {
  display: flex;
  justify-content: space-around;
  margin: 80px;
  color: black;
}

h1 {
  margin-top: 80px;
}

.notificationlink img,
.emaillink img {
  height: 240px;
  width: 240px;
}

.none {
  display: none;
}

.main-section__content__imageswitcher {
  margin-left: 200px;
  width: 700px;
  height: 700px;
}
